{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber.com</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
    <!----HeaderNav-->
    <nav>
        <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'About' %}">About</a></li>
            <li><a href="{% url 'Services' %}">Services</a></li>
            <li><a href="{% url 'Register' %}">Register</a></li>
            <li><a href="{% url 'Login' %}">Login</a></li>
        </ul>
    </nav>
</body>
</html>